@using Fiorello.Areas.Admin.ViewModels.Slider
@model SliderDetailVM


<div class="container mt-5">
	<h4 style="color:magenta">Slider</h4>
	<img src="~/img/@Model.Image" style="width:200px; height:150px" />
</div>

<a asp-action="Index" class="btn btn-light">Back</a>